################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test/FileContentIndex
/packages
/Test/bin/Debug/dll
/Test/bin/Debug
